
<div class="d-flex">
  <app-select 
    class="flex-grow-1 mr-1" 
    [options]="options" 
    [label]="label" 
    [inline]="inline"
    [selectedId]="selectedOption | async"
    (selectionChange)="selectionChange.next(toInt($event))">
  </app-select>
  <button 
    class="btn btn-secondary btn-sm" 
    (click)="selectionChange.next(prevNumber)"
    [disabled]="isFirstOption">
    <fa-icon 
      [icon]="faArrowLeft">
    </fa-icon>
  </button>
  <button 
    class="btn btn-secondary btn-sm" 
    (click)="selectionChange.next(nextNumber)"
    [disabled]="isLastOption">
    <fa-icon 
      [icon]="faArrowRight">
    </fa-icon>
  </button>
</div>