<div class="d-flex flex-column align-self-center">
    <div class="input-group">
        <input
            type="text"
            class="form-control"
            (keyup.enter)="queryChange.next(searchQuery)"
            [(ngModel)]="searchQuery.text"
            placeholder="Search text">
        <div class="input-group-append">
            <fa-icon
                (click)="queryChange.next(searchQuery)"
                [icon]="faSearch"
                class="search-button input-group-text">
            </fa-icon>
        </div>
        <div class="input-group-append">
            <fa-icon
                (click)="isCollapsed = !isCollapsed"
                [icon]="faSlidersH"
                class="search-button input-group-text">
            </fa-icon>
        </div>
    </div>
    <div class="p-1">
        <div
            *ngIf="!isCollapsed"
            class="d-flex justify-content-between">
            <app-radio
                label="Mode:"
                [initialValue]="searchQuery.index"
                (value)="searchQuery.index = $event"
                [items]="indexes"></app-radio>
            <div class="d-flex flex-column">
                <label>Options:</label>
                <app-switch
                    label="Ignore case"
                    [(value)]="searchQuery.ignoreCase"></app-switch>
                <app-switch
                    label="Ignore accents"
                    [(value)]="searchQuery.ignoreAccents"></app-switch>
            </div>
        </div>
        <div
            *ngIf="!isCollapsed"
            class="form-group">
            <label for="texts">Sources:</label>
            <ng-select
                [items]="texts | async"
                [multiple]="true"
                [closeOnSelect]="false"
                [searchable]="false"
                labelForId="texts"
                placeholder="Select people"
                [(ngModel)]="selectedTexts"
                (ngModelChange)="selectedTextsIds = $event">
            </ng-select>
        </div>
    </div>
</div>
