<app-annotation-filter
    *ngIf="!!interlinearText"
    (showAnnotationChange)="showAnnotations = $event"
    (filterChange)="annotationsFilter = $event"
    (showHomerChange)="interlinearText.showHomeric = $event"
    (showParaphraseChange)="interlinearText.showParaphfrase = $event">
</app-annotation-filter>
<div class="d-flex">
    <app-openseadragon
        class="col"
        [page]="manuscriptService.page | async"
        (pageChange)="manuscriptService.pageInput.next($event)"
        [annotations]="filteredAnnotations | async"
        manifestURL="./assets/manuscript/manifest.json">
    </app-openseadragon>
    <app-interlinear-text
        #interlinearText
        class="col"
        text="homeric"
        paraphrase="paraphrase">
    </app-interlinear-text>
</div>
