<div class="d-flex flex-grow-1 full-height justify-content-around mt-3">
    <app-comparable-text
        [disableText]="true"
        (wordOver)="leftWordOver.next($event)"
        [(scrollIndex)]="scrollIndex"
        [highlightIds]="sourceIds | async"
        class="container"
        [chant]="1"
        [text]="'homeric'">
    </app-comparable-text>

    <app-comparable-text
        [disableText]="true"
        (wordOver)="rightWordOver.next($event)"
        [(scrollIndex)]="scrollIndex"
        [highlightIds]="targetIds | async"
        class="container"
        [chant]="1"
        [text]="'paraphrase'">
    </app-comparable-text>
</div>
