<div class="d-flex flex-grow-1 full-height justify-content-around mt-3">
    <app-comparable-text
        (wordOver)="leftWordOver.next($event)"
        [(scrollIndex)]="scrollIndex"
        [highlightIds]="sourceIds | async"
        class="container"
        [chant]="chant1 | async"
        (chantChange)="chant1.next($event)"
        [text]="'homeric'">
    </app-comparable-text>

    <app-comparable-text
        (wordOver)="rightWordOver.next($event)"
        [(scrollIndex)]="scrollIndex"
        [highlightIds]="targetIds | async"
        class="container"
        [chant]="chant2 | async"
        (chantChange)="chant2.next($event)"
        [text]="'paraphrase'">
    </app-comparable-text>
</div>
