<div class>
    <label
        *ngIf="label"
        [for]="id">
        {{ label }}
    </label>
    <div
        *ngFor="let rb of items; let first=first"
        class="form-check"
        [class.ml-3]="inline"
        [class.custom-control-inline]="inline">
        <input
            class="custom-radio form-check-input pointer"
            type="radio"
            [(ngModel)]="choice"
            [id]="rb.id"
            [value]="rb.id"
            [name]="id">
        <label
            class="form-check-label pointer"
            [for]="rb.id">
            {{ rb.label }}
        </label>
    </div>
</div>
