<div class="d-flex">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button 
      (click)="clickParaphrase()" 
      type="button" 
      class="btn btn-secondary btn-sm" 
      [class.active]="showParaphfrase">
      <fa-icon [icon]="faThList"></fa-icon>
    </button>
    <button 
      (click)="clickHomeric()" 
      type="button" 
      class="btn btn-secondary btn-sm" 
      [class.active]="showHomeric">
      <fa-icon [icon]="faListAlt"></fa-icon>
    </button>
  </div>

  <app-select-number 
    [number]="numberOfChants | async" 
    label="Chant" 
    class="flex-grow-1"
    (selectionChange)="chantChange.next($event)">
  </app-select-number>
  <app-select-number 
    [number]="numberOfPages | async" 
    label="Page" 
    class="flex-grow-1"
    (selectionChange)="pageChange.next($event)">
  </app-select-number>
</div>

<app-verse 
  *ngFor="let verse of verses | async; let index = index"  
  [attr.data-index]="index"
  [highlight]="showParaphfrase && index % 2 !== 0"
  [class.d-none]="showHomeric && !showParaphfrase && index % 2 === 0 || !showHomeric && showParaphfrase && index % 2 === 1"
  [verse]="verse">
</app-verse>