<div class="d-flex">
    <app-select-number
        [options]="manuscriptService.chants | async"
        [selection]="chant | async"
        (selectedNumber)="manuscriptService.chantInput.next($event)"
        label="Book"
        class="flex-grow-1">
    </app-select-number>
    <app-select-number
        [options]="manuscriptService.pages | async"
        [selection]="page | async"
        (selectedNumber)="manuscriptService.pageInput.next($event)"
        label="Page"
        class="flex-grow-1">
    </app-select-number>
    <app-select-number
        [options]="manuscriptService.verses | async"
        [selection]="verse | async"
        (selectedNumber)="manuscriptService.verseInput.next($event)"
        label="Verse"
        class="flex-grow-1">
    </app-select-number>
</div>
<app-text
    [loading]="loading | async"
    [verses]="verses | async"
    [scrollableIndex]="false"
    [highlight]="showParaphfrase || showHomeric"
    [showData]="false">
</app-text>
