<div class="p-3 container">
    <ng-container *ngIf="translate.currentLang === 'en'">
        <!-- TODO: translate to english -->
        No english translation yet!
    </ng-container>

    <ng-container *ngIf="translate.currentLang === 'fr'">
        <h1>ANNEXE</h1>
        <ngb-accordion
            #acc="ngbAccordion"
            [closeOthers]="true">
            <ngb-panel title="Concordance">
                <ng-template ngbPanelContent>
                    <ul>
                        <li>
                            <a
                                target="_blank"
                                href="./assets/data/annexes/G44_CONCORDANCE_ALIGNEE_ILIADE_A_PARAPHRASE.pdf">
                                G44_CONCORDANCE_ALIGNEE_ILIADE_A_PARAPHRASE
                            </a>
                        </li>

                        <p>
                            Classement, par ordre alphabétique,
                            <strong>
                                des formes attestées de l’Iliade du Gen. gr. 44 (chant 1 à 3) avec leur équivalent dans la paraphrase.
                            </strong>
                        </p>
                        <ul>
                            <li>
                                Les indications HOM et PARA suivies d’un nombre précisent le vers du poème homérique (HOM) ou de la paraphrase (PARA) dont il est question.
                            </li>
                            <li>
                                Le nombre qui précède une forme ou un lemme indique son occurrence.
                            </li>
                            <li>
                                Les pages 1 à 200 comportent les formes de la paraphrase qui n’ont pas d’équivalent dans l’Iliade.
                            </li>
                            <li>
                                Pour chaque forme attestée, la concordance donne le contexte textuel qui la précède et la suit.
                            </li>
                            <li>
                                Un classement lemmatique est fourni dans l’option « signet » du document PDF.
                            </li>
                        </ul>

                        <li>
                            <a
                                target="_blank"
                                href="./assets/data/annexes/G44_CONCORDANCE_ALIGNEE_PARAPHRASE_A_ILIADE.pdf">
                                G44_CONCORDANCE_ALIGNEE_PARAPHRASE_A_ILIADE
                            </a>
                        </li>

                        <p>
                            Classement, par ordre alphabétique, des <strong>formes attestées de la paraphrase (chant 1 à 3) avec leur équivalent dans l’Iliade du Gen. gr. 44</strong>.
                        </p>
                        <ul>
                            <li>
                                Les indications HOM et PARA suivies d’un nombre précisent le vers du poème homérique (HOM) ou de la paraphrase (PARA) dont il est question.
                            </li>
                            <li>
                                Le nombre qui précède une forme ou un lemme indique son occurrence.
                            </li>
                            <li>
                                Les pages 1 à 32 comportent les formes de l’Iliade qui n’ont pas d’équivalent dans la paraphrase.
                            </li>
                            <li>
                                Pour chaque forme attestée, la concordance donne le contexte textuel qui la précède et la suit.
                            </li>
                            <li>
                                Un classement lemmatique est fourni dans l’option « signet » du document PDF.
                            </li>
                        </ul>
                        <li>
                            <a
                                target="_blank"
                                href="./assets/data/annexes/G44_CONCORDANCE_ILIADE_ET_PARAPHRASE.pdf">
                                G44_CONCORDANCE_ILIADE_ET_PARAPHRASE
                            </a>
                        </li>

                        <p>
                            Classement, par ordre alphabétique, des <strong>de l’Iliade du Gen. gr. 44 et de la paraphrase</strong> (chant 1 à 3).
                        </p>
                        <ul>
                            <li>
                                Les indications HOM et PARA suivies d’un nombre précisent le vers du poème homérique (HOM) ou de la paraphrase (PARA) dont il est question.
                            </li>
                            <li>
                                Le nombre qui suit le lemme indique son occurrence.
                            </li>
                            <li>
                                Sous chaque lemme, l’ensemble des formes attestées est répertorié.
                            </li>
                            <li>
                                Pour chaque forme attestée, la concordance donne le contexte textuel qui précède et la suit
                            </li>
                            <li>
                                Un classement lemmatique est fourni dans l’option « signet » du document PDF.
                            </li>
                        </ul>
                        <li>
                            <a
                                target="_blank"
                                href="./assets/data/annexes/G44_CONCORDANCE_ILIADE.pdf">
                                G44_CONCORDANCE_ILIADE
                            </a>
                        </li>

                        <p>
                            Classement, par ordre alphabétique, des <strong>lemmes de l’Iliade du Gen. gr. 44</strong> (chant 1 à 3).
                        </p>
                        <ul>
                            <li>
                                Les indications HOM suivies d’un nombre précisent le vers du poème homérique (HOM) dont il est question.
                            </li>
                            <li>
                                Le nombre qui suit le lemme indique son occurrence.
                            </li>
                            <li>
                                Sous chaque lemme, l’ensemble des formes attestées est répertorié.
                            </li>
                            <li>
                                Pour chaque forme attestée, la concordance donne le contexte textuel qui précède et la suit
                            </li>
                            <li>
                                Un classement lemmatique est fourni dans l’option « signet » du document PDF.
                            </li>
                        </ul>
                        <li>
                            <a
                                target="_blank"
                                href="./assets/data/annexes/G44_CONCORDANCE_PARAPHRASE.pdf">
                                G44_CONCORDANCE_PARAPHRASE
                            </a>
                        </li>

                        <p>
                            Classement, par ordre alphabétique, des <strong>lemmes de la paraphrase</strong> (chant 1 à 3).
                        </p>
                        <ul>
                            <li>
                                Les indications PARA suivies d’un nombre précisent le vers homérique correspondant à la paraphrase (PARA) dont il est question.
                            </li>
                            <li>
                                Le nombre qui suit le lemme indique son occurrence.
                            </li>
                            <li>
                                Sous chaque lemme, l’ensemble des formes attestées est répertorié.
                            </li>
                            <li>
                                Pour chaque forme attestée, la concordance donne le contexte textuel qui précède et la suit
                            </li>
                            <li>
                                Un classement lemmatique est fourni dans l’option « signet » du document PDF.
                            </li>
                        </ul>

                    </ul>

                </ng-template>
            </ngb-panel>
            <ngb-panel title="Vocabulaire">
                <ng-template ngbPanelContent>
                    <ul>
                        <li>
                            <a
                                target="_blank"
                                href="./assets/data/annexes/GEN_VOCABULAIRE.xlsx">
                                G44_VOCABULAIRE
                            </a>
                        </li>

                        <p>
                            Classement, par ordre alphabétique, des lemmes de l’Iliade du Gen. gr. 44 et de sa paraphrase (chant 1 à 3) avec leur traduction française.
                        </p>
                        <ul>
                            <li>
                                Feuille « Vocabulaire »
                                <ul>
                                    <li>
                                        Les lignes 1 à 426 se réfèrent à des noms propres (anthroponyme ou toponyme)
                                    </li>
                                    <li>
                                        Colonne A : liste alphabétique des lemmes. En vert : lemmes qui ne se trouvent que dans l’Iliade. En rouge : lemmes qui ne se trouvent que dans la paraphrase. En blanc : lemmes qui se trouvent aussi bien dans l’Iliade que dans la paraphrase.
                                    </li>
                                    <li>
                                        Colonne B : traduction française des lemmes fondée sur le dictionnaire Ch. Bailly.
                                    </li>
                                </ul>
                            </li>

                            <li>Feuille « Noms propres »
                                <ul>                                    
<li>Liste des noms propres de l’Iliade du Gen. gr. 44 et de sa paraphrase dont une partie reste à traduire.</li>
<li>Colonne A : liste alphabétique des lemmes. En vert : lemmes qui ne se trouvent que dans l’Iliade. En rouge : lemmes qui ne se trouvent que dans la paraphrase. En blanc : lemmes qui se trouvent aussi bien dans l’Iliade que dans la paraphrase.</li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </ng-container>
</div>
