<!-- <ng-container *ngFor="let s of (scholie | async) | keyvalue: keyNumOrder">
    <ng-container *ngFor="let ss of s.value | keyvalue: keyNumOrder">
        <ul>
            <li *ngFor="let sss of ss.value | keyvalue">
                <span>{{ s.key }}.{{ss.key}} - {{sss.key }}</span>
                =>
                <span
                    *ngFor="let dd of sss.value"
                    [class.s-highlighted]="dd[0]">
                    {{ dd[1] }}
                </span>
            </li>
        </ul>
    </ng-container>
</ng-container> -->
<div class="d-flex justify-content-center mt-3">
    <app-radio
        initialValue="text"
        (value)="type.next($event)"
        [inline]="true"
        [items]="scholieViews">
    </app-radio>
</div>

<div [hidden]="(type | async) !== 'text'">
    <app-word-filters
        [showAndOr]="false"
        [disabled]="true"
        (filterChange)="filter.next($event)"
        [pillsData]="filterData">
    </app-word-filters>
    <div class="d-flex flex-grow-1 full-height justify-content-around mt-1">
        <app-comparable-text
            [disableText]="true"
            [posFilter]="filterWords | async"
            (wordOver)="leftWordOver.next($event)"
            [(scrollIndex)]="scrollIndex"
            [highlightIds]="sourceIds | async"
            class="container"
            [chantOptions]="chants1 | async"
            [chant]="chant1 | async"
            (chantChange)="chant1.next($event)"
            (textChange)="sourceChange.next($event)"
            [text]="'homeric'">
        </app-comparable-text>

        <app-comparable-text
            [disableText]="true"
            [posFilter]="filterWords | async"
            (wordOver)="rightWordOver.next($event)"
            [(scrollIndex)]="scrollIndex"
            [highlightIds]="targetIds | async"
            class="container"
            [chantOptions]="chants2 | async"
            [chant]="chant2 | async"
            (chantChange)="chant2.next($event)"
            (textChange)="targetChange.next($event)"
            [text]="'paraphrase'">
        </app-comparable-text>
    </div>
</div>

<table
    [hidden]="(type | async) !== 'table'"
    class="table">
    <thead>
        <tr>
            <th>{{ 'Chant' | translate}}</th>
            <th>{{ 'Verse' | translate}}</th>
            <th>{{ 'Iliad' | translate}}</th>
            <th>{{ 'Scholie' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let s of (scholie | async) | keyvalue: keyNumOrder">
            <ng-container *ngFor="let ss of s.value | keyvalue: keyNumOrder">

                <tr *ngFor="let sss of ss.value">
                    <td>{{ s.key }}</td>
                    <td>{{ss.key}}</td>
                    <td>{{sss[0] }}</td>
                    <td>
                        <span
                            *ngFor="let dd of sss[1]"
                            [class.s-highlighted]="dd[0]">
                            {{ dd[1] }}
                        </span>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>
