<ng-container *ngFor="let s of (scholie | async) | keyvalue: keyNumOrder">
    <ng-container *ngFor="let ss of s.value | keyvalue: keyNumOrder">
        <ul>
            <li *ngFor="let sss of ss.value | keyvalue">
                <span>{{ s.key }}.{{ss.key}} - {{sss.key }}</span>
                =>
                <span
                    *ngFor="let dd of sss.value"
                    [class.s-highlighted]="dd[0]">
                    {{ dd[1] }}
                </span>
            </li>
        </ul>
    </ng-container>
</ng-container>
