.landing-logo {
    width: 55%;
}

.circle {
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px 5px 5px;
}

.landing-pill {
    font-size: 20px;
    padding: 3px 3px 3px 3px;
}