/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "scss/colors.scss";

.full-height {
    height: 100vh;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.overflow-scroll-y {
    overflow-y: auto
}

.overflow-scroll-x {
    overflow-x: auto;
}

.overflow-scroll {
    overflow: auto;
}

.viewer-nav {
    min-height: 46px;
}

.verse:hover,
.verse-highlight {
    background-color: $c-light-grey;
}

.word {
    font-family: sans-serif;
}

.word:hover {
    cursor: pointer;
    color: $word-over-color;
    background-color: $word-over-bg-color;
}

.annotation {
    background-color: #7c9497;
    opacity: 0.4;
    transition: all 0.3s;
}

.annotation:hover {
    opacity: 0.7;
}

.highlighted {
    background-color: white;
    border: solid 1px #cecece;
    padding: 2px 2px 4px 2px;
    color: #8e8ee5;
}

.word-data-panel {
    background-color: white;
    border: solid 1px #cecece;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-top: 1px;
}

.word-data-panel>ul {
    list-style-type: none;
    padding-top: 10px;
}

.word-data-panel {
    ul {
        li {
            span {
                font-weight: bold;
            }
        }
    }
}

.cursor {
    cursor: pointer;
}

.badge {
    border-style: solid;
    border-color: $badge-color;
}

.highlighted-word {
    border: solid 3px lightgrey;
    background-color: grey;
    color: white;
}

.article {
    background-color: $article-color;
    color: white;
}

.adjective {
    background-color: $adjective-color;
    color: white;
}

.adverb {
    background-color: $adverb-color;
    color: white;
}

.name, .anthroponymic{
    background-color: $name-color;
    color: white;
}

.verb {
    background-color: $verb-color;
    color: white;
}

.pronoun {
    background-color: $pronoun-color;
    color: white;
}

.num {
    background-color: $num-color;
    color: white;
}

.singular {
    border-style: solid;
}

.plural {
    border-style: dashed;
}

.dual {
    border-style: double;
}

.nominative {
    border-width: 3px;
    border-color: $nominative-color;
}

.vocative {
    border-width: 3px;
    border-color: $vocative-color;
}

.accusative {
    border-width: 3px;
    border-color: $accusative-color;
}

.genitive {
    border-width: 3px;
    border-color: $genitive-color;
}

.dative {
    border-width: 3px;
    border-color: $dative-color;
}