/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "scss/colors.scss";
.full-height {
    height: 100vh;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.overflow-scroll-y {
    overflow-y: auto
}

.overflow-scroll-x {
    overflow-x: auto;
}

.overflow-scroll {
    overflow: auto;
}

.viewer-nav {
    min-height: 46px;
}

.verse:hover,
.verse-highlight {
    background-color: $c-light-grey;
}

.word:hover {
    cursor: pointer;
    color: $info;
}

.annotation {
    background-color: #7c9497;
    opacity: 0.4;
    transition: all 0.3s;
}

.annotation:hover {
    opacity: 0.7;
}

.highlighted {
    background-color: white;
    border: solid 1px #cecece;
    border-bottom: none;
    padding: 2px 2px 4px 2px;
    color: #8e8ee5;
}

.word-data-panel {
    background-color: white;
    border: solid 1px #cecece;
    border-radius: 4px;
    margin-bottom: 2px;
}

.word-data-panel>ul {
    list-style-type: none;
    padding-top: 10px;
}

.word-data-panel {
    ul {
        li {
            span {
                font-weight: bold;
            }
        }
    }
}

.cursor {
    cursor: pointer;
}

.highlighted-word {
    border: solid 3px lightgrey;
    background-color: grey;
    color: white;
}

.article {
    background-color: #6184d8;
    color: white;    
}

.adjective {
    background-color: #b07bac;
    color: white;    
}

.adverb {
    background-color: #ff7847; 
    color: white;
}

.name {
    background-color: #639a88;
    color: white;
}

.verb {
    background-color: #ffa630;
    color: white;
}

.pronoun {
    background-color: #9faf90;
    color: white;
}

.num {
    background-color: #000;
    color: white;
}

.nominative {
    border-style: solid;
    border-color: #3a3042;
}

.vocative {
    border-style: solid;
    border-color: #db9d47;
}

.accusative {
    border-style: solid;
    border-color: #ff784f;
}

.genitive {
    border-style: solid;
    border-color: #9ba2ff;
}

.dative {
    border-style: solid;
    border-color: #786f52;
}

.singular {
    border-style: solid;
}

.plural {
    border-style: dashed;
}

.dual {
    border-style: double;
}

.feminine {
    color: #ea526f;
}

.masculine {
    color: #6184d8;
}

.neutral {
    color: #353A47;
}