
$c-light-grey: #efefef;
$word-over-color: #000000;
$word-over-bg-color: #83c3f7;
$primary-color: #333;
$badge-color: #9aaece;
$article-color: #6184d8;
$particle-color: #72A3D8;
$preposition-color: #3354BF;
$adjective-color: #b07bac;
$adverb-color: #ff7847;
$name-color: #639a88;
$verb-color: #FFC107;
$pronoun-color: #9faf90;
$num-color: #607D8B;
$singular-color: red;
$nominative-color: #607D8B;
$vocative-color: #db9d47;
$accusative-color: #ff784f;
$genitive-color: #9ba2ff;
$dative-color: #786f52;
$feminine-color: #ea526f;
$masculine-color: #6184d8;
$neutral-color: #353A47;
$present-color: #e53935;
$imperfect-color: #D81B60;
$future-color: #8E24AA;
$aorist-color: #1E88E5;
$perfect-color: #00897B;
$pluperfect-color: #43A047;
$future-perfect-color: #FFB300;
$indicative-color: #e53935;
$subjunctive-color: #D81B60;
$imperative-color: #8E24AA;
$optative-color: #1E88E5;
$infinitive-color: #00897B;
$participle-color: #43A047;
$active-color: #FF7043;
$middle-color: #FFA726;
$passive-color: #CDDC39;
$first-person-color: #9C27B0;
$second-person-color: #E91E63;
$third-person-color: #e53935;