
$c-light-grey: #efefef;
$word-over-color: #000000;
$word-over-bg-color: #83c3f7;
$primary-color: #333;
$badge-color: #9aaece;
$article-color: #6184d8;
$adjective-color: #b07bac;
$adverb-color: #ff7847;
$name-color: #639a88;
$verb-color: #ffa630;
$pronoun-color: #9faf90;
$num-color: #000;
$singular-color: red;
$nominative-color: #3a3042;
$vocative-color: #db9d47;
$accusative-color: #ff784f;
$genitive-color: #9ba2ff;
$dative-color: #786f52;
$feminine-color: #ea526f;
$masculine-color: #6184d8;
$neutral-color: #353A47;