<div class="d-flex">
    <app-select-text
        [(text)]="text"
        class="flex-grow-1">
    </app-select-text>
    <app-select-number
        [showButtons]="false"
        [options]="chantsNumber | async"
        label="Book"
        class="flex-grow-1"
        [selection]="actualChant | async"
        (selectedNumber)="chant = $event">
    </app-select-number>
</div>
<div class="overflow-scroll mt-1">
    <app-text
        (wordOver)="wordOver.next($event)"
        [(scrollIndex)]="scrollIndex"
        [posHighlight]="posFilterChange | async"
        [highlightIds]="highlightIds"
        [verses]="verses | async"
        [loading]="loading | async">
    </app-text>
</div>
