<app-word-filters (filterChange)=posFilter.next($event)></app-word-filters>
<div class="d-flex">
    <app-select-text
        [(text)]="text"
        class="flex-grow-1">
    </app-select-text>
    <app-select-number
        [options]="chantsNumber | async"
        label="Book"
        class="flex-grow-1"
        (selectionChange)="chantChange.next($event)">
    </app-select-number>
</div>
<div class="overflow-scroll mt-1">
    <app-text
        [(scrollIndex)]="scrollIndex"
        [posHighlight] = "posFilter | async"
        [verses]="verses | async"
        [loading]="loading | async"></app-text>
</div>
