<div class="p-3 container">
    <ng-container *ngIf="translate.currentLang === 'en'">
        <!-- TODO: translate to english -->
        No english translation yet!
    </ng-container>

    <ng-container *ngIf="translate.currentLang === 'fr'">
        <h1>
            Le devenir numérique d'un texte fondateur
        </h1>
        <h2> l'<em>Iliade</em> et le <em>Genavensis græcus 44</em> </h2>

        <p class="mt-5">
        Jusqu’à quel point les outils informatiques, toujours en progrès, permettent-ils de conserver et de perpétuer, 
        dans des perspectives nouvelles, les textes les plus anciens de la littérature et de la poésie antiques ? 
        L’outil informatique invite-t-il à regarder, à lire, à penser et à comprendre le texte autrement dans la mesure 
        où chaque nouveau média ou support transforme l’information qu’il présente ? 
        Le risque n’est-il pas d’oublier l’histoire du texte et de sa transmission ?
        </p>

        <p>
        Le présent projet fait le pari d’utiliser les ressources numériques pour mettre en valeur et expliquer au mieux 
        un manuscrit byzantin de l’I<em>liade</em>, le Genavensis græcus 44. Conservé à la Bibliothèque de Genève, il a été récemment 
        numérisé pour la Bibliothèque virtuelle des manuscrits en Suisse. Il est désormais facilement consultable sur la 
        plateforme e-codices à laquelle notre propre site est lié. Notre but ici est de guider les hellénistes et les non 
        hellénistes dans la découverte de ce manuscrit important de l’<em>Iliade</em>. Alors que les éditions traditionnelles limitent 
        l’apport des manuscrits médiévaux à la mention des variantes dans l’apparat critique, notre travail veut montrer que 
        chaque page du manuscrit mérite d’être regardée pour elle-même et révèle des pratiques de lecture et de transmission 
        du corpus homérique qui nous poussent à interroger notre propre démarche .
        Le <em>Genavensis græcus 44</em> a l’originalité de contenir une paraphrase « interlinéaire » (pour les douze premiers chants) en prose byzantine qui s’intercale 
        entre les vers du poème ainsi que de nombreuses scholies marginales. Labyrinthe textuel dans lequel il est aisé de se perdre, 
        il révèle pourtant des pratiques de lecture savante encore peu étudiées. En effet, la mise en espace simultanée de l'<em>Iliade</em>, 
        de sa paraphrase et des scholies témoigne d’un mécanisme singulier de la transmission du poème homérique où le sens est 
        suggéré au fil d’une lecture sans cesse interrompue par cet imposant matériel exégétique. 
        </p>

        <p>
            Le site permet dans cette première version :
        </p>
        <ul>
            <li>de visualiser le manuscrit</li>
            <li>de le comparer à sa transcription</li>
            <li>de confronter le texte de l'<em>Iliade</em> et sa paraphrase </li>
            <li>de visualiser en couleurs les schémas syntaxiques </li>
            <li>d’aligner le texte de l'<em>Iliade</em> et sa paraphrase en visualisant les expressions correspondantes </li>
            <li>d’obtenir pour chaque mot l’indication du lemme et de sa traduction française</li>
            <li>de faire des recherches de correspondances lexicales</li>
        </ul>

        <!-- <p class="mt-5">
            Le <em>Genavensis græcus 44</em> est un manuscrit de l'<em>Iliade</em>, datant du XIII<sup>e</sup> siècle. Conservé à la Bibliothèque de Genève, numérisé et accessible sur la plateforme <a target="_blank" href="https://www.e-codices.unifr.ch/fr/list/one/bge/gr0044">e-codices</a>, il est un précieux témoin pour la philologie homérique. 
            Il a aussi l’originalité de contenir une paraphrase « interlinéaire » en prose byzantine qui s’intercale entre les vers du poème ainsi que de nombreuses scholies marginales. 
            Labyrinthe textuel dans lequel il est aisé de se perdre, il révèle pourtant des pratiques de lecture savante encore peu étudiées.
            En effet, la mise en espace simultanée de l'<em>Iliade</em>, de sa paraphrase et des scholies témoigne d’un mécanisme singulier de la transmission du poème homérique où le sens est suggéré au fil d’une lecture sans cesse interrompue par cet imposant matériel exégétique.
        </p>

        <p>
            Nous proposons sur ce site des outils informatiques inédits permettant :
        </p>
        <ul>
            <li>de visualiser le manuscrit</li>
            <li>de le comparer à sa transcription</li>
            <li>
                de confronter le texte de l'<em>Iliade</em> et sa paraphrase
            </li>
            <li>
                de visualiser en couleurs les schémas syntaxiques
            </li>
            <li>
                d’aligner le texte de l'<em>Iliade</em> et sa paraphrase en visualisant les expressions correspondantes
            </li>
            <li>
                de faire des recherches de correspondances lexicales
            </li>
        </ul>

        <p>
            « Le devenir d’un texte fondateur : l'<em>Iliade</em> et le <em>Genavensis græcus 44</em> » est un <a target="_blank" href="http://p3.snf.ch/Project-172733">projet</a> soutenu par le Fonds National Suisse la recherche scientifique. 
            Il vise à une nouvelle compréhension des enjeux propres à la transmission du poème homérique dans un contexte philologique où l’accès aux sources numérisées nous permet de repenser la transmission matérielle, textuelle et patrimoniale.
        </p> -->
    </ng-container>

    <section class="d-flex p-3 align-items-start">
        <img
            class="logo"
            src="./assets/logos/unil-logo.svg"
            alt="unil-logo">
        <img
            class="logo"
            src="./assets/logos/SNF_RGB_4_POS.png"
            alt="snf-logo">
        <img
            class="logo"
            src="./assets/logos/ecodices.svg"
            alt="snf-logo">           
    </section>
</div>
