<div class="p-3 container">
    <ng-container *ngIf="translate.currentLang === 'en'"> 
        <!-- TODO: translate in english -->
        <h1>
            Le devenir numérique d'un texte fondateur
        </h1>
        <h2>l'<em>Iliade</em> et le <em>Genavensis Græcus 44</em></h2>

        <p class="mt-5">
            Le <em>Genavensis Græcus 44</em> est un manuscrit de l'<em>Iliade</em>, datant du XIII<sup>e</sup> siècle. Conservé à la Bibliothèque de Genève, numérisé et accessible sur la plateforme
            <a target="_blank" href="https://www.e-codices.unifr.ch/fr/list/one/bge/gr0044">e-codices</a>, il est un précieux témoin pour la philologie homérique. 
            Il a aussi l’originalité de contenir une paraphrase « interlinéaire » en prose byzantine qui s’intercale entre les vers du poème ainsi que de nombreuses scholies marginales. 
            Labyrinthe textuel dans lequel il est aisé de se perdre, il révèle pourtant des pratiques de lecture savante encore peu étudiées.
            En effet, la mise en espace simultanée de l'<em>Iliade</em>, de sa paraphrase et des scholies témoigne d’un mécanisme singulier de la transmission du poème homérique
            où le sens est suggéré au fil d’une lecture sans cesse interrompue par cet imposant matériel exégétique.
        </p>

        <p>
            Nous proposons sur ce site des outils informatiques inédits permettant
        </p>
        <ul>

            <li>de visualiser le manuscrit</li>
            <li>de le comparer à sa transcription</li>
            <li>de confronter le texte de l'<em>Iliade</em> et sa paraphrase</li>
            <li>de visualiser en couleurs les schémas syntaxiques </li>
            <li>d’aligner le texte de l'<em>Iliade</em> et sa paraphrase en visualisant les expressions correspondantes </li>
            <li>de faire des recherches de correspondances lexicales </li>
        </ul>

        <p>
            « Le devenir d’un texte fondateur : l'<em>Iliade</em> et le <em>Genavensis Græcus 44</em> » est un <a target="_blank" href="http://p3.snf.ch/Project-172733">projet</a> soutenu par le Fonds National Suisse 
            la recherche scientifique. 
            Il vise à une nouvelle compréhension des enjeux propres à la transmission du poème homérique dans un contexte philologique où l’accès aux sources numérisées nous permet de repenser la transmission matérielle,
            textuelle et patrimoniale.
        </p>
    </ng-container>

    <ng-container *ngIf="translate.currentLang === 'fr'">   
        <h1> Le devenir numérique d'un texte fondateur</h1>
        <h2>l'<em>Iliade</em> et le <em>Genavensis Græcus 44</em></h2>

        <p class="mt-5">
            Le <em>Genavensis Græcus 44</em> est un manuscrit de l'<em>Iliade</em>, datant du XIII<sup>e</sup> siècle. Conservé à la Bibliothèque de Genève, numérisé et accessible sur la plateforme
            <a target="_blank" href="https://www.e-codices.unifr.ch/fr/list/one/bge/gr0044">e-codices</a>, il est un précieux témoin pour la philologie homérique. 
            Il a aussi l’originalité de contenir une paraphrase « interlinéaire » en prose byzantine qui s’intercale entre les vers du poème ainsi que de nombreuses scholies marginales. 
            Labyrinthe textuel dans lequel il est aisé de se perdre, il révèle pourtant des pratiques de lecture savante encore peu étudiées.
            En effet, la mise en espace simultanée de l'<em>Iliade</em>, de sa paraphrase et des scholies témoigne d’un mécanisme singulier de la transmission du poème homérique
            où le sens est suggéré au fil d’une lecture sans cesse interrompue par cet imposant matériel exégétique.
        </p>

        <p>
            Nous proposons sur ce site des outils informatiques inédits permettant
        </p>
        <ul>

            <li>de visualiser le manuscrit</li>
            <li>de le comparer à sa transcription</li>
            <li>de confronter le texte de l'<em>Iliade</em> et sa paraphrase</li>
            <li>de visualiser en couleurs les schémas syntaxiques </li>
            <li>d’aligner le texte de l'<em>Iliade</em> et sa paraphrase en visualisant les expressions correspondantes </li>
            <li>de faire des recherches de correspondances lexicales </li>
        </ul>

        <p>
            « Le devenir d’un texte fondateur : l'<em>Iliade</em> et le <em>Genavensis Græcus 44</em> » est un <a target="_blank" href="http://p3.snf.ch/Project-172733">projet</a> soutenu par le Fonds National Suisse 
            la recherche scientifique. 
            Il vise à une nouvelle compréhension des enjeux propres à la transmission du poème homérique dans un contexte philologique où l’accès aux sources numérisées nous permet de repenser la transmission matérielle,
            textuelle et patrimoniale.
        </p>
    </ng-container>
</div>
