<div class="p-3 container">
    <h1>
        Le devenir numérique d'un texte fondateur
    </h1>
    <h2>l'Iliade et le Genavensis Græcus 44</h2>
    <p class="mt-5">
        Le développement des technologies informatiques a donné un <em>nouvel élan</em> à la philologie classique: la <strong>numérisation des manuscrits</strong>, leur <strong>accessibilité</strong> et les conditions de lecture améliorées ouvrent de nouvelles approches.
    </p>
    <p>
        Par leur mise en page complexe, les manuscrits révèlent des pratiques et des usages de lecture encore peu étudiés.
    </p>
    <p>
        Notre projet s’inscrit dans ce contexte et vise à exploiter l’information d’un manuscrit de l’Iliade, le <strong>Genavensis Græcus 44 </strong> (ci-après, le <em>Gen. Gr. 44</em>), conservé à la Bibliothèque de Genève, numérisé et accessible sur la plateforme <a href="http://www.e-codices.unifr.ch">e-codices</a>.
    </p>
    <p>
        La singularité de ce manuscrit du <em>XIIIe siècle</em> vient de la présence d’une <strong>paraphrase en prose byzantine</strong>, encore <em>non traduite ni étudiée</em>, qui se trouve, sans que la mise en page ne le signale, <strong>intercalée</strong> entre les lignes qui recopient, hexamètre après hexamètre, les vers de l'Iliade.
    </p>
    <p>
        Texte sous le texte, chaque ligne de la paraphrase correspond au vers qu'elle redit, et cela tout au long des douze premiers chants du poème.
    </p>
    <p>
        Notre <strong>objectif</strong>? 
    </p>    
    <p>
      <strong>Étudier</strong> la paraphrase des cinq premiers chants du poème et <strong>vérifier</strong> quel peut être son apport pour l’étude plus générale du <em>Gen. Gr. 44</em>, pour l'interprétation de l'Iliade et pour une histoire de la réception des études homériques.
    </p>
    <p>Nos <strong>axes de travail</strong>?</p>
    <ol>
        <li>
            <strong>Lire en miroir</strong> la paraphrase et le poème homérique.
            
            La mise en page particulière du <em>Gen. Gr. 44</em> est caractérisée par cette présentation du texte sous le texte, tandis que les scholies restent marginales.
            
            Après la transcription du matériel, les nouvelles techniques de traitement informatique (exploitant notamment des ressources comme Mirador) et d'analyse textuelle (élaborées à l'Université de Lausanne) permettront de <em>juxtaposer</em> les textes et de les <em>comparer</em>.
    
            Cette confrontation matérielle et textuelle de <em>deux modes de narration</em> et de <em>deux états de la langue grecque</em> séparés dans le temps par presque deux millénaires est encore inédite.
    
            En ayant recours aux outils informatiques et à l'établissement d'index, il s’agira de vérifier l’ampleur des écarts lexicaux, morphologiques, syntaxiques et rythmiques entre ces deux états de langue pour revenir sur les enjeux liés aux modalités de composition de ces deux formes discursives différentes mais comparables.
        </li>
        <li>
            Partir de la paraphrase pour <strong>mieux comprendre</strong>, par confrontation, <strong>les mécanismes de la répétition</strong> à l'œuvre dans la poésie orale.

            Visant à la fidélité, mais perdant le rythme métrique, la paraphrase reproduit des formules homériques mais sans que cela n'aide à la mémorisation.
            
            Une <em>analyse comparative</em> permettra de mettre en lumière certaines caractéristiques spécifiques de la poésie homérique.
        </li>
        <li>
            S’interroger sur la paraphrase en tant que pratique littéraire oscillant entre <strong>reformulation</strong> et <strong>traduction</strong>.
    
            La pratique de la paraphrase, très prisée par les rhéteurs antiques des premiers siècles, n’a été, s'agissant d'Homère, que très peu étudiée; elle est pourtant révélatrice d’une technique propre de compréhension du texte qui ne manque pas de puiser dans diverses sources pour « reformuler » le texte ; elle constitue ainsi un mécanisme de transmission essentiel et déterminant pour l'histoire de la réception.
        </li>
        <li>
            Penser le parcours du <em>Gen. Gr. 44</em>, de l’école au musée.
    
            Destiné à l’<strong>enseignement du poème</strong>, le <em>Gen. Gr. 44</em> tient une place importante au sein des humanismes byzantin et genevois; sa portée épistémologique à travers les âges et les lieux en fait sa valeur, raison pour laquelle il a constitué une pièce majeure de l'exposition « Byzance en Suisse » au Musée Rath (Genève).

            De l’école au musée, son itinéraire met en lumière les enjeux qui unissent inéluctablement un texte à son support.

            Ce projet vise donc à une nouvelle compréhension de ces enjeux dans un contexte où la numérisation nous force à reconsidérer ce qu’on entend par transmission matérielle et textuelle.

            Il s'agit aussi, par nos recherches de rendre visible et mieux accessible un manuscrit qui pourra être étudié par des jeunes apprentis hellénistes.
        </li>
    </ol>
</div>
