<div class="d-flex flex-column">
    <div *ngIf="filterChange | async as filterChange">
        <app-pill
            *ngFor="let f of filterChange.pos"
            [label]="f"
            [kind]="f | lowercase"
            [gender]="genderFromLabel(f)"
            [selected]="true"
            (selectedChange)="filterItem.next(filterFromLabel(f, $event))">
        </app-pill>
    </div>
    <div class="d-flex">
        <div class="d-flex flex-column">
            <button
                (click)="filterItem.next({})"
                class="m-1 btn btn-sm btn-secondary">
                <fa-icon [icon]="faBroom"></fa-icon>
            </button>
            <button
                [disabled]="disabled"
                *ngIf="submitBtn"
                (click)="submitFilter.next()"
                class="m-1 btn btn-sm btn-secondary">
                <fa-icon [icon]="faSearch"></fa-icon>
            </button>
            <ui-switch
                (change)="switchChange.next($event)"
                checkedLabel="And"
                uncheckedLabel="Or"
                size="small"
                class="m-1">
            </ui-switch>
        </div>
        <ngb-tabset
            [destroyOnHide]="false"
            type="pills">
            <ngb-tab
                *ngFor="let d of pillsData | keyvalue : originalOrder"
                [title]="d.key">
                <ng-template ngbTabContent>
                    <ng-container *ngFor="let c of d.value">
                    <app-pill
                        *ngIf="c !== undefined"
                        [kind]="c.kind"
                        [label]="c.label"
                        [gender]="c.gender"
                        [selected]="c.selected() | async"
                        (selectedChange)="c.selectedChange($event)">
                    </app-pill>
                </ng-container>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
