<div class="d-flex flex-column">
    <div *ngIf="filterChange | async as filterChange">
        <app-pill
            *ngFor="let f of filterChange.pos"
            [label]="f"
            [kind]="f | lowercase"
            [gender]="genderFromLabel(f)"
            [selected]="true"
            (selectedChange)="filterItem.next(filterFromLabel(f, $event))"></app-pill>
    </div>
    <div class="d-flex">
        <div class="d-flex flex-column">
            <button
                (click)="filterItem.next({})"
                class="btn btn-secondary">
                <fa-icon [icon]="faBroom"></fa-icon>
                Clear Filter
            </button>
            <ui-switch
                (change)="switchChange.next($event)"
                checkedLabel="And"
                uncheckedLabel="Or"
                size="small"
                class="m-1"></ui-switch>
        </div>
        <ngb-tabset
            [destroyOnHide]="false"
            type="pills">
            <ngb-tab title="Category">
                <ng-template ngbTabContent>
                    <app-pill
                        kind="adjective"
                        label="Adjective"
                        [selected]="filterSelected('Adjective') | async"
                        (selectedChange)="filterItem.next({'Adjective': $event})"></app-pill>
                    <app-pill
                        kind="article"
                        label="Article"
                        [selected]="filterSelected('Article') | async"
                        (selectedChange)="filterItem.next({'Article': $event})"></app-pill>
                    <app-pill
                        kind="adverb"
                        label="Adverb"
                        [selected]="filterSelected('Adverb') | async"
                        (selectedChange)="filterItem.next({'Adverb': $event})"></app-pill>
                    <app-pill
                        kind="name"
                        label="Name"
                        [selected]="filterSelected('Name') | async"
                        (selectedChange)="filterItem.next({'Name': $event})"></app-pill>
                    <app-pill
                        kind="anthroponymic"
                        label="Anthroponymic"
                        [selected]="filterSelected('Anthroponymic') | async"
                        (selectedChange)="filterItem.next({'Anthroponymic': $event})"></app-pill>
                    <app-pill
                        kind="toponym"
                        label="Toponym"
                        [selected]="filterSelected('Toponym') | async"
                        (selectedChange)="filterItem.next({'Toponym': $event})"></app-pill>
                    <app-pill
                        kind="patronymic"
                        label="Patronymic"
                        [selected]="filterSelected('Patronymic') | async"
                        (selectedChange)="filterItem.next({'Patronymic': $event})"></app-pill>
                    <app-pill
                        kind="pronoun"
                        label="Pronoun"
                        [selected]="filterSelected('Pronoun') | async"
                        (selectedChange)="filterItem.next({'Pronoun': $event})"></app-pill>
                    <app-pill
                        kind="verb"
                        label="Verb"
                        [selected]="filterSelected('Verb') | async"
                        (selectedChange)="filterItem.next({'Verb': $event})"></app-pill>
                    <app-pill
                        kind="num"
                        label="Num"
                        [selected]="filterSelected('Num') | async"
                        (selectedChange)="filterItem.next({'Num': $event})"></app-pill>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Gender">
                <ng-template ngbTabContent>
                    <app-pill
                        kind="masculine"
                        label="Masculine"
                        gender="M"
                        [selected]="filterSelected('Masculine') | async"
                        (selectedChange)="filterItem.next({'Masculine': $event})"></app-pill>
                    <app-pill
                        kind="feminine"
                        label="Feminine"
                        gender="F"
                        [selected]="filterSelected('Feminine') | async"
                        (selectedChange)="filterItem.next({'Feminine': $event})"></app-pill>
                    <app-pill
                        kind="neutral"
                        label="Neutral"
                        gender="N"
                        [selected]="filterSelected('Neutral') | async"
                        (selectedChange)="filterItem.next({'Neutral': $event})"></app-pill>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Cardinality">
                <ng-template ngbTabContent>
                    <app-pill
                        kind="singular"
                        label="Singular"
                        [selected]="filterSelected('Singular') | async"
                        (selectedChange)="filterItem.next({'Singular': $event})"></app-pill>
                    <app-pill
                        kind="plural"
                        label="Plural"
                        [selected]="filterSelected('Plural') | async"
                        (selectedChange)="filterItem.next({'Plural': $event})"></app-pill>
                    <app-pill
                        kind="dual"
                        label="Dual"
                        [selected]="filterSelected('Dual') | async"
                        (selectedChange)="filterItem.next({'Dual': $event})"></app-pill>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Cases">
                <ng-template ngbTabContent>
                    <app-pill
                        kind="nominative"
                        label="Nominative"
                        [selected]="filterSelected('Nominative') | async"
                        (selectedChange)="filterItem.next({'Nominative': $event})"></app-pill>
                    <app-pill
                        kind="vocative"
                        label="Vocative"
                        [selected]="filterSelected('Vocative') | async"
                        (selectedChange)="filterItem.next({'Vocative': $event})"></app-pill>
                    <app-pill
                        kind="accusative"
                        label="Accusative"
                        [selected]="filterSelected('Accusative') | async"
                        (selectedChange)="filterItem.next({'Accusative': $event})"></app-pill>
                    <app-pill
                        kind="genitive"
                        label="Genitive"
                        [selected]="filterSelected('Genitive') | async"
                        (selectedChange)="filterItem.next({'Genitive': $event})"></app-pill>
                    <app-pill
                        kind="dative"
                        label="Dative"
                        [selected]="filterSelected('Dative') | async"
                        (selectedChange)="filterItem.next({'Dative': $event})"></app-pill>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Tense">
                <ng-template ngbTabContent>
                    <app-pill
                        kind="present"
                        label="Present"
                        [selected]="filterSelected('Present') | async"
                        (selectedChange)="filterItem.next({'Present': $event})"></app-pill>
                    <app-pill
                        kind="imperfect"
                        label="Imperfect"
                        [selected]="filterSelected('Imperfect') | async"
                        (selectedChange)="filterItem.next({'Imperfect' : $event})"></app-pill>
                    <app-pill
                        kind="future"
                        label="Future"
                        [selected]="filterSelected('Future') | async"
                        (selectedChange)="filterItem.next({'Future' : $event})"></app-pill>
                    <app-pill
                        kind="aorist"
                        label="Aorist"
                        [selected]="filterSelected('Aorist') | async"
                        (selectedChange)="filterItem.next({'Aorist' : $event})"></app-pill>
                    <app-pill
                        kind="perfect"
                        label="Perfect"
                        [selected]="filterSelected('Perfect') | async"
                        (selectedChange)="filterItem.next({'Perfect' : $event})"></app-pill>
                    <app-pill
                        kind="pluperfect"
                        label="Pluperfect"
                        [selected]="filterSelected('Pluperfect') | async"
                        (selectedChange)="filterItem.next({'Pluperfect' : $event})"></app-pill>
                    <app-pill
                        kind="future-perfect"
                        label="Future perfect"
                        [selected]="filterSelected('FuturePerfect') | async"
                        (selectedChange)="filterItem.next({'FuturePerfect' : $event})"></app-pill>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Mood">
                <ng-template ngbTabContent>
                    <app-pill
                        kind="indicative"
                        label="Indicative"
                        [selected]="filterSelected('Indicative') | async"
                        (selectedChange)="filterItem.next({'Indicative':$event})"></app-pill>
                    <app-pill
                        kind="subjunctive"
                        label="Subjunctive"
                        [selected]="filterSelected('Subjunctive') | async"
                        (selectedChange)="filterItem.next({'Subjunctive':$event})"></app-pill>
                    <app-pill
                        kind="imperative"
                        label="Imperative"
                        [selected]="filterSelected('Imperative') | async"
                        (selectedChange)="filterItem.next({'Imperative':$event})"></app-pill>
                    <app-pill
                        kind="optative"
                        label="Optative"
                        [selected]="filterSelected('Optative') | async"
                        (selectedChange)="filterItem.next({'Optative':$event})"></app-pill>
                    <app-pill
                        kind="infinitive"
                        label="Infinitive"
                        [selected]="filterSelected('Infinitive') | async"
                        (selectedChange)="filterItem.next({'Infinitive':$event})"></app-pill>
                    <app-pill
                        kind="participle"
                        label="Participle"
                        [selected]="filterSelected('Participle') | async"
                        (selectedChange)="filterItem.next({'Participle':$event})">
                    </app-pill>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Voice">
                <ng-template ngbTabContent>
                    <app-pill
                        kind="active"
                        label="Active"
                        [selected]="filterSelected('Active') | async"
                        (selectedChange)="filterItem.next({'Active':$event})"></app-pill>
                    <app-pill
                        kind="middle"
                        label="Middle"
                        [selected]="filterSelected('Middle') | async"
                        (selectedChange)="filterItem.next({'Middle':$event})"></app-pill>
                    <app-pill
                        kind="passive"
                        label="Passive"
                        [selected]="filterSelected('Passive') | async"
                        (selectedChange)="filterItem.next({'Passive':$event})"></app-pill>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Person">
                <ng-template ngbTabContent>
                    <app-pill
                        kind="first-person"
                        label="1st"
                        [selected]="filterSelected('1st') | async"
                        (selectedChange)="filterItem.next({'1st':$event})"></app-pill>
                    <app-pill
                        kind="second-person"
                        label="2nd"
                        [selected]="filterSelected('2nd') | async"
                        (selectedChange)="filterItem.next({'2nd':$event})"></app-pill>
                    <app-pill
                        kind="third-person"
                        label="3rd"
                        [selected]="filterSelected('3rd') | async"
                        (selectedChange)="filterItem.next({'3rd':$event})"></app-pill>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
