<div class="d-flex justify-content-center m-2">
    <ui-switch
        checkedLabel="Hide annotations"
        uncheckedLabel="Show annotations"
        [checked]="showAnnotation"
        (change)="showAnnotationChange.next($event)"
        size="small"
        class="m-1">
    </ui-switch>
    <div class="btn-group">
        <button
            (click)="showHomer = !showHomer"
            [class.active]="showHomer"
            type="button"
            class="btn btn-info btn-sm">
            Homer
            <!-- <fa-icon [icon]="faThList"></fa-icon> -->
        </button>
        <button
            (click)="showParaphrase = !showParaphrase"
            [class.active]="showParaphrase"
            type="button"
            class="btn btn-info btn-sm">
            Paraphrase
            <!-- <fa-icon [icon]="faListAlt"></fa-icon> -->
        </button>
        <button
            (click)="showScholie = !showScholie"
            [class.active]="showScholie"
            [disabled]="!(showAnnotationChange | async)"
            type="button"
            class="btn btn-info btn-sm">
            Scholie
        </button>
        <button
            (click)="showOrnament = !showOrnament"
            [class.active]="showOrnament"
            [disabled]="!(showAnnotationChange | async)"
            type="button"
            class="btn btn-info btn-sm">
            Ornament
        </button>
        <button
            (click)="showRef = !showRef"
            [class.active]="showRef"
            [disabled]="!(showAnnotationChange | async)"
            type="button"
            class="btn btn-info btn-sm">
            Ref
        </button>
        <button
            (click)="showVaria = !showVaria"
            [class.active]="showVaria"
            [disabled]="!(showAnnotationChange | async)"
            type="button"
            class="btn btn-info btn-sm">
            Varia
        </button>
        <button
            (click)="showTitle = !showTitle"
            [class.active]="showTitle"
            [disabled]="!(showAnnotationChange | async)"
            type="button"
            class="btn btn-info btn-sm">
            Title
        </button>
    </div>
</div>
