<div class="d-flex justify-content-center m-2">
    <!-- <app-switch
        class="p-1 pr-2"
        [(value)]="showAnnotation"
        label="Annotations">
    </app-switch> -->
    <app-switch
        class="p-1 pr-2"
        [(value)]="showHomer"
        [label]="'Homer' | translate">
    </app-switch>
    <app-switch
        class="p-1 pr-2"
        [(value)]="showParaphrase"
        [label]="'Paraphrase' | translate">
    </app-switch>
    <!-- // TODO: uncomment me to show annotation commands
    <app-switch
        class="p-1 pr-2"
        [(value)]="showScholie"
        [disabled]="!showAnnotation"
        label="Scholie">
    </app-switch>
    <app-switch
        class="p-1 pr-2"
        [(value)]="showOrnament"
        [disabled]="!showAnnotation"
        label="Ornament">
    </app-switch>
    <app-switch
        class="p-1 pr-2"
        [(value)]="showRef"
        [disabled]="!showAnnotation"
        label="Ref">
    </app-switch>
    <app-switch
        class="p-1 pr-2"
        [(value)]="showVaria"
        [disabled]="!showAnnotation"
        label="Varia">
    </app-switch> -->
</div>
